
@font-face {
    font-family: scoreBoard;
    src: url('scoreBoard.ttf') format('woff2'),
         url('scoreBoard.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

#home-score {
    display: flex;
    justify-content: flex-end;
    font-family: scoreBoard;
    font-size: 10vh;
    color: white;
    border: 3.5px solid #FFB915;
    border-radius: 10px;
    height: 80%;
    margin-bottom: 0;
    margin-top: 0;
    width: 75%;
    min-width: 25px;
    background-color: black;
}

#guest-score {
    display: flex;
    color: white;
    justify-content: flex-end;
    font-family: scoreBoard;
    font-size: 10vh;
    border: 3.5px solid #011840;
    border-radius: 10px;
    height: 80%;
    margin-bottom: 0;
    margin-top: 0;
    width: 75%;
    min-width: 25px;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10% 0 10%;
    border: 2px solid black;
    min-width: 590px;
}

.score-wpr {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    min-width: 550px;
    max-width: 1000px;
    height: 35%;
    border: 2px solid black;
    margin-bottom: 150px;
    background-color:#6f212f;
    border-radius: 15px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-bottom: 0px;
}

#guest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 6vh;
    height: 33%;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    color: white;
}

.btn-home {
    font-family: scoreBoard;
    font-size: 2.5vh;
    height: 80%;
    width: 25%;
    border-radius: 10px;
    background-color:#6f212f;
    color: white;
    border: 3.5px solid #011840;

}

.btn-guest {
    font-family: scoreBoard;
    font-size: 2.5vh;
    height: 80%;
    width: 25%;
    border-radius: 10px;
    background-color:#6f212f;
    color: white;
    border: 3.5px solid #FFB915;

}

#btn-wpr {
    display: flex;
    justify-content: space-around;
    height: 33%;
    padding-top: 10px;
    padding-bottom: 5px;
}